---
import Navigation from '../components/Navigation.astro';
import Footer from '../components/Footer.astro';
import BaseLayout from '../layouts/BaseLayout.astro';


const title = "I'm Sid";

const identity = {
  firstName: "Sid",
  country: "US",
  occupation: "CS Sophomore",
  hobbies: ["Binge watching tv", "coding", "football"],
};

const skills = ["Linux", "Java", "C", "Assembly", "Git/Github"];

const happy = true;
const finished = false;
const goal = 3;

const skillColor = "navy";
const fontWeight = "bold";
const textCase = "uppercase";
---

<html lang="en">
	<BaseLayout pageTitle="About Me | Sid's Page" title={title}>
        <h2>I am a junior studying computer science at Purdue University.</h2>
        <p>Here are a few facts about me:</p>
        <ul>
        <li>My name is {identity.firstName}.</li>
        <li>I live in {identity.country} and I work as a {identity.occupation}.</li>
        {identity.hobbies.length >= 2 &&
            <li>Two of my hobbies are: {identity.hobbies[0]} and {identity.hobbies[1]}</li>
        }
        </ul>
        <p>My skills are:</p>
        <ul>
        {skills.map((skill) => <li class="skill">{skill}</li>)}
        </ul>

        {happy && <p>I am happy to be learning Astro!</p>}

        {finished && <p>I finished this tutorial!</p>}

        {goal === 3 ? <p>My goal is to finish in 3 days.</p> : <p>My goal is not 3 days.</p>}

    </BaseLayout>
</html>
